._login-width{
    max-width: 450px;
    font-weight: 600;
    border-radius: 50px;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
._facebook-color{
    background: #4267B2;
}
._login-width svg{
    margin: 2px 15px 0px;
    font-size: 14px;
}
._login-btn{
    margin: 10px;
    width: 175px;
    background: #1DB954;
    padding: 10px 0;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 2px;
}
._remember-me{
    margin: 10px 0;
}
._remember-me label{
    margin-left: 10px;
}
._spotify-color{
    color: #1DB954;
}
._width-450{
    max-width: 450px;
}
._login-or{
    position: relative;
}
._login-or::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(128, 128, 128, 0.4);
    z-index: -1;
}
@media screen and (max-width: 450px){
    ._login-width{
        letter-spacing: 1px;
    }
    ._login-btn{
        width: 150px;
    }
}